/* ===== INTRO (PNG + VIDEO) ===== */

#intro {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
}

#intro video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#intro img {
  position: relative;
  z-index: 2;
}

